
input[type=submit]:hover {
  background-color: #45a049;
}


* .App {
  text-align: center;
  display: flex;
  background-color: #86a787 ;

}
 
.icon {
  padding: 10px;
  min-width: 40px;
}

 .container {
  text-align:justify;
  padding: 104px;
  min-width: 40px;
  display: flex;
  justify-content: center;
}  
#checkbox{
color: rgb(170, 43, 70);
}
 .error{
  color: red;
 }

 .password{
  color: red;
 }

 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }  color: rgb(251, 253, 255);
}
 