
input[type=submit]:hover {
  background-color: #45a049;
}


* .App {
  text-align: center;
  display: flex;
  background-color: #45a049 ;

}
 
.icon {
  padding: 10px;
  min-width: 40px;
}

 .container {
  text-align:justify;
  padding: 104px;
  min-width: 40px;
  display: flex;
  justify-content: center;
}  
#checkbox{
color: rgb(170, 43, 70);
}

 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }  color: rgb(251, 253, 255);
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }  color: rgb(251, 253, 255);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
